@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-background: #f4f2ec;
  --color-foreground: #1b1c1d;
  --font-body: "Noto Sans JP Variable", sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-background text-foreground font-body flex min-h-dvh flex-col antialiased;
}

footer {
  @apply mt-auto;
}

button:hover {
  @apply cursor-pointer;
}
